@model AspNetCoreMVC.Models.Filme

@{
    ViewData["Title"] = "Adicionar novo Filme";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Adicionar">
            <div asp-validation-summary="All" class="Text-danger">

            </div>

            <div class="form-group">
                <label asp-for="Titulo" class="form-label"></label>
                <input asp-for="Titulo" class="form-control"/>
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataLancamento" class="form-label"></label>
                <input asp-for="DataLancamento" class="form-control"/>
                <span asp-validation-for="DataLancamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="form-label"></label>
                <input asp-for="Genero" class="form-control"/>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="form-label"></label>
                <input asp-for="Valor" class="form-control"/>
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avaliacao" class="form-label"></label>
                <input asp-for="Avaliacao" class="form-control"/>
                <span asp-validation-for="Avaliacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}